<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (serviceProvider) {
      <div>
        <h2 data-cy="serviceProviderDetailsHeading">
          <span jhiTranslate="appointmentApp.serviceProvider.detail.title">Service Provider</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="appointmentApp.serviceProvider.id">Id</span></dt>
          <dd>
            <span>{{ serviceProvider.id }}</span>
          </dd>
          <dt><span jhiTranslate="appointmentApp.serviceProvider.name">Name</span></dt>
          <dd>
            <span>{{ serviceProvider.name }}</span>
          </dd>
          <dt><span jhiTranslate="appointmentApp.serviceProvider.type">Type</span></dt>
          <dd>
            <span jhiTranslate="{{ 'appointmentApp.ServiceProviderType.' + serviceProvider.type }}">{{ serviceProvider.type }}</span>
          </dd>
          <dt><span jhiTranslate="appointmentApp.serviceProvider.address">Address</span></dt>
          <dd>
            <span>{{ serviceProvider.address }}</span>
          </dd>
          <dt><span jhiTranslate="appointmentApp.serviceProvider.contactInfo">Contact Info</span></dt>
          <dd>
            <span>{{ serviceProvider.contactInfo }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/service-provider', serviceProvider.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
