<div>
  <h2 id="page-heading" data-cy="ServiceForCustomerHeading">
    <span jhiTranslate="appointmentApp.serviceForCustomer.home.title">Service For Customers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appointmentApp.serviceForCustomer.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-service-for-customer"
        [routerLink]="['/service-for-customer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appointmentApp.serviceForCustomer.home.createLabel">Create a new Service For Customer</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (serviceForCustomers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="appointmentApp.serviceForCustomer.home.notFound">No Service For Customers found</span>
    </div>
  }

  @if (serviceForCustomers && serviceForCustomers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="appointmentApp.serviceForCustomer.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="appointmentApp.serviceForCustomer.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="appointmentApp.serviceForCustomer.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="duration">
              <div class="d-flex">
                <span jhiTranslate="appointmentApp.serviceForCustomer.duration">Duration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceProvider.id">
              <div class="d-flex">
                <span jhiTranslate="appointmentApp.serviceForCustomer.serviceProvider">Service Provider</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (serviceForCustomer of serviceForCustomers; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/service-for-customer', serviceForCustomer.id, 'view']">{{ serviceForCustomer.id }}</a>
              </td>
              <td>{{ serviceForCustomer.name }}</td>
              <td>{{ serviceForCustomer.description }}</td>
              <td>{{ serviceForCustomer.duration }}</td>
              <td>
                @if (serviceForCustomer.serviceProvider) {
                  <div>
                    <a [routerLink]="['/service-provider', serviceForCustomer.serviceProvider.id, 'view']">{{
                      serviceForCustomer.serviceProvider.name
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/service-for-customer', serviceForCustomer.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/service-for-customer', serviceForCustomer.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(serviceForCustomer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (serviceForCustomers && serviceForCustomers.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
