<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-appointment-heading"
        data-cy="AppointmentCreateUpdateHeading"
        jhiTranslate="appointmentApp.appointment.home.createOrEditLabel"
      >
        Create or edit a Appointment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="appointmentApp.appointment.id" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appointmentApp.appointment.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)) {
            <div>
              @if (editForm.get('date')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appointmentApp.appointment.startTime" for="field_startTime">Start Time</label>
          <div class="d-flex">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="datetime-local"
              class="form-control"
              name="startTime"
              formControlName="startTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('startTime')!.invalid && (editForm.get('startTime')!.dirty || editForm.get('startTime')!.touched)) {
            <div>
              @if (editForm.get('startTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('startTime')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appointmentApp.appointment.endTime" for="field_endTime">End Time</label>
          <div class="d-flex">
            <input
              id="field_endTime"
              data-cy="endTime"
              type="datetime-local"
              class="form-control"
              name="endTime"
              formControlName="endTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('endTime')!.invalid && (editForm.get('endTime')!.dirty || editForm.get('endTime')!.touched)) {
            <div>
              @if (editForm.get('endTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('endTime')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appointmentApp.appointment.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'appointmentApp.AppointmentStatus.null' | translate }}</option>
            @for (appointmentStatus of appointmentStatusValues; track $index) {
              <option [value]="appointmentStatus">{{ 'appointmentApp.AppointmentStatus.' + appointmentStatus | translate }}</option>
            }
          </select>
          @if (editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appointmentApp.appointment.serviceProvider" for="field_serviceProvider"
            >Service Provider</label
          >
          <select
            class="form-control"
            id="field_serviceProvider"
            data-cy="serviceProvider"
            name="serviceProvider"
            formControlName="serviceProvider"
            [compareWith]="compareServiceProvider"
          >
            <option [ngValue]="null"></option>
            @for (serviceProviderOption of serviceProvidersSharedCollection; track $index) {
              <option [ngValue]="serviceProviderOption">{{ serviceProviderOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appointmentApp.appointment.employee" for="field_employee">Employee</label>
          <select
            class="form-control"
            id="field_employee"
            data-cy="employee"
            name="employee"
            formControlName="employee"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <option [ngValue]="employeeOption">{{ employeeOption.name }}</option>
            }
          </select>
        </div>

        <!--        <div class="mb-3">-->
        <!--          <label class="form-label" jhiTranslate="appointmentApp.appointment.serviceForCustomer" for="field_serviceForCustomer"-->
        <!--            >Service For Customer</label-->
        <!--          >-->
        <!--          <select-->
        <!--            class="form-control"-->
        <!--            id="field_serviceForCustomer"-->
        <!--            data-cy="serviceForCustomer"-->
        <!--            name="serviceForCustomer"-->
        <!--            formControlName="serviceForCustomer"-->
        <!--            [compareWith]="compareServiceForCustomer"-->
        <!--          >-->
        <!--            <option [ngValue]="null"></option>-->
        <!--            @for (serviceForCustomerOption of serviceForCustomersSharedCollection; track $index) {-->
        <!--              <option [ngValue]="serviceForCustomerOption">{{ serviceForCustomerOption.name }}</option>-->
        <!--            }-->
        <!--          </select>-->
        <!--        </div>-->

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appointmentApp.appointment.room" for="field_room">Room</label>
          <select class="form-control" id="field_room" data-cy="room" name="room" formControlName="room" [compareWith]="compareRoom">
            <option [ngValue]="null"></option>
            @for (roomOption of roomsSharedCollection; track $index) {
              <option [ngValue]="roomOption">{{ roomOption.roomNumber }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
