<div>
  <h2 id="page-heading" data-cy="WorkingHoursHeading">
    <span jhiTranslate="appointmentApp.workingHours.home.title">Working Hours</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appointmentApp.workingHours.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-working-hours"
        [routerLink]="['/working-hours/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appointmentApp.workingHours.home.createLabel">Create a new Working Hours</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (workingHours?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="appointmentApp.workingHours.home.notFound">No Working Hours found</span>
    </div>
  }

  @if (workingHours && workingHours.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="appointmentApp.workingHours.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dayOfWeek">
              <div class="d-flex">
                <span jhiTranslate="appointmentApp.workingHours.dayOfWeek">Day Of Week</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startTime">
              <div class="d-flex">
                <span jhiTranslate="appointmentApp.workingHours.startTime">Start Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endTime">
              <div class="d-flex">
                <span jhiTranslate="appointmentApp.workingHours.endTime">End Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employee.id">
              <div class="d-flex">
                <span jhiTranslate="appointmentApp.workingHours.employee">Employee</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (workingHours of workingHours; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/working-hours', workingHours.id, 'view']">{{ workingHours.id }}</a>
              </td>
              <td jhiTranslate="{{ 'appointmentApp.DayOfWeek.' + workingHours.dayOfWeek }}">{{ workingHours.dayOfWeek }}</td>
              <td>{{ workingHours.startTime | formatMediumDatetime }}</td>
              <td>{{ workingHours.endTime | formatMediumDatetime }}</td>
              <td>
                @if (workingHours.employee) {
                  <div>
                    <a [routerLink]="['/employee', workingHours.employee.id, 'view']">{{ workingHours.employee.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/working-hours', workingHours.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/working-hours', workingHours.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(workingHours)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (workingHours && workingHours.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
