<div class="booking-modal" *ngIf="appointment">
  <div class="modal-overlay">
    <div class="modal-container">
      <!-- Close Button -->
      <div class="modal-close" (click)="cancel()">&times;</div>

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 jhiTranslate="book-appointment-modal-ask">Do you want to cancel your appointment?</h5>
      </div>

      <!-- Modal Actions -->
      <div class="modal-actions">
        <button class="btn secondary" jhiTranslate="appointment-service-cancel" (click)="cancel()">Cancel</button>
        <button class="btn primary" jhiTranslate="appointment-service-confirm-canceling" (click)="confirmBooking()">Confirm Booking</button>
      </div>
    </div>
  </div>
</div>
